.guitar-pic img{
    width: 500px;
}

.guitar{
    margin-top: 20px;
}

header{
    height: auto;
    padding-bottom: 50px;
}

.guitar-description{
    background-color: teal;
    border-radius: 20px;
    margin: 30px 50px;
    color: white;
    padding: 20px;
}

.review {
  color: white;
}

.take-review{
  margin-top: 20px;
}

.show-review{
  padding: 20px;
  margin: 20px 0px;
  border-radius: 10px;
  background-color: teal;
}
