.sign-up-form{
    background-color: teal;
    margin-top: 50px;
    border-radius: 20px;
    padding: 20px 30px;
    width: 400px;
    color: white;
}

header{
    height: auto;
    padding-bottom: 50px;
}